<link href="~/css/VClientes/_HeaderClientes.css" rel="stylesheet" />

<div class="clientes-header-container">

    <div class="header-left">
        <h2 class="clientes-header-titulo">Gestion de Productos</h2>

        <p class="clientes-header-subtitulo">Lista de Productos registrados en el sistema.</p>
    </div>

    <div class="header-right">

        <a asp-action="Crear" class="btn-nuevo-cliente">

            <i class="bi bi-plus-circle"></i> Nuevo Producto

        </a>

    </div>
</div>
