@model IEnumerable<Pry_Solu_SalonSPA.Models.Producto>

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Producto";
}

<link rel="stylesheet" href="~/css/VProveedor/index.css" />

@await Html.PartialAsync("_HeaderProducto")

<div class="proveedor-lista-container">

    @await Html.PartialAsync("_ListaProducto", Model)

    @await Html.PartialAsync("_PaginaProducto")

</div>
