
<link rel="stylesheet" href="~/css/VProveedor/_HeaderProveedor.css"/>

<div class="proveedor-header-container">

    <div class="header-left">
        <h2 class="proveedor-header-titulo">Gestion de Proveedor</h2>

        <p class="proveedor-header-subtitulo">Lista de Proveedor registrados en el sistema.</p>
    </div>

    <div class="header-right">

        <a asp-action="Crear" class="btn-nuevo-proveedor">

            <i class="bi bi-plus-circle"></i> Nuevo Proveedor

        </a>

    </div>
</div>
