@model IEnumerable<Pry_Solu_SalonSPA.Models.Proveedor>

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Proveedores";
}

<link rel="stylesheet" href="~/css/VProveedor/index.css" />

@await Html.PartialAsync("_HeaderProveedor")

    <div class="proveedor-lista-container">


        @await Html.PartialAsync("_FilterProveedor")

        @await Html.PartialAsync("_ListaProveedor", Model)

        @await Html.PartialAsync("_PaginaProveedor")

    </div>