.crear-cita-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.crear-cita-box {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    width: 600px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.header-crear {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    color: #2B2766;
}

    .header-crear .btn-back,
    .volver-cita,
    .btn-back {
        color: #EBC5E5;
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 15px;
    }

.btn-buscar {
    padding: 7px 20px;
    background-color: #E8D5F2;
    color: #2B2766;
    border-radius: 6px;
    border: 2px solid #9B6DB5;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

    .btn-buscar:hover {
        background-color: #D4B5E8;
        border-color: #7D4A99;
        color: #2B2766;
    }

.form-row {
    display: flex;
    gap: 20px;
    color: #2B2766;
}

    .form-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
 

label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #2B2766;
}

.editable-field {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #d99ac1;
    background-color: #fff;
}

.readonly-field {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #d99ac1;
    background-color: #FCE1F9;
    color: #5c1a3f;
}

.form-buttons {
    display: flex;
    gap: 15px;
    padding: 10px;
    margin-top: 20px;
    justify-content: center;
}

.btn-crear {
    background-color: #d63384;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

    .btn-crear:hover {
        background-color: #b5286e;
    }

.btn-cancelar {
    padding: 10px 20px;
    background-color: #fff;
    color: #2B2766;
    border-radius: 6px;
    border: 2px solid #FFE5FF;
}

    .btn-cancelar:hover {
        background-color: #FFF2FC;
    }
