<link href="~/css/VServicios/_HeaderServicios.css" rel="stylesheet" />

<div class="servicios-header-container">

    <div class="header-left">
        <h2 class="servicios-header-titulo">Gestión de Servicios</h2>
        <p class="servicios-header-subtitulo">Administra todos los servicios ofrecidos en el salón.</p>
    </div>

    <div class="header-right">
        <a asp-controller="Servicios" asp-action="Crear" class="btn-nuevo-servicio">
            <i class="bi bi-plus-circle"></i> Nuevo Servicio
        </a>

    </div>

</div>
