<link href="~/css/VCompras/_HeaderCompras.css" rel="stylesheet" />

<div class="header-compras-container">
    <div class="header-compras-titulo-container">
        <h2 class="header-compras-titulo">Listado de Compras</h2>
        <p class="header-compras-subtitulo">Gestiona tus compras</p>
    </div>

    <a asp-action="Registrar" class="btn-nueva-compra">
        <i class="fas fa-plus"></i> Registrar Compra
    </a>
</div>