<link href="~/css/VTipoServicio/_HeaderTipoServicio.css" rel="stylesheet" />

<div class="header-tipoServicio">
    <div class="header-left">
        <h2 class="titulo-tituloServicio">Gestión de Categoria</h2>

        <p class="tipoServicio-header-subtitulo">Lista de clientes registrados en el sistema.</p>
    </div>
    <div class="header-right">
        <a asp-action="Crear" class="btn-nuevo">
            <i class="bi bi-plus-circle"></i>Nueva Categoria
        </a>
    </div>
</div>

