@model IEnumerable<Pry_Solu_SalonSPA.Models.Categoria>

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Categoria";
}

<link rel="stylesheet" href="~/css/VProveedor/index.css" />

@await Html.PartialAsync("_HeaderCategoria")

<div class="proveedor-lista-container">

    @await Html.PartialAsync("_ListaCategoria", Model)

    @await Html.PartialAsync("_PaginaCategoria")

</div>
