<link href="~/css/VVentas/_HeaderVentas.css" rel="stylesheet" />

<div class="header-ventas-container">
    <div class="header-ventas-titulo-container">
        <h2 class="header-ventas-titulo">Listado de Ventas</h2>
        <p class="header-ventas-subtitulo">Gestiona tus ventas</p>
    </div>

    <a asp-action="Registrar" class="btn-nueva-venta">
        <i class="fas fa-plus"></i> Registrar Venta
    </a>
</div>
