<link rel="stylesheet" href="~/css/VCitas/_HeaderCitas.css" />

<div class="citas-header-container">
    <div class="header-left">

        <h2 class="citas-header-titulo">Gestión de Citas</h2>

        <p class="citas-header-subtitulo">Lista general de citas registradas en el sistema.</p>
    </div>

    <div class="header-right">

        <a asp-action="Crear" class="btn-nueva-cita">

            <i class="bi bi-plus-circle"></i> Nueva Cita
        </a>
    </div>
</div>
