

.sidenav {
    width: 260px;
    background-color: #FBEDFC;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 100;
    border-right: 2.5px solid #EBC5E5;
}


    .sidenav h4 {
        margin: 0 0 1.2rem 0;
        font-size: 1.2rem;
        align-content: center;
        border-bottom: 2px solid #EBC5E5;
        padding-bottom: 0.8rem;
    }


    .sidenav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .sidenav ul li {
            margin-bottom: 0.75rem;
        }

    .sidenav a {
        text-decoration: none;
        color: #5A2D82;
        font-weight: 420;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 0.35rem 0.5rem;
        border-radius: 6px;
        font-size: 1rem;
        transition: all 0.2s ease;
        letter-spacing: 0.3px;
    }


        .sidenav a:hover {
            color: #7F4AA8;
            background-color: #FFC2DA;
        }

        .sidenav a.active {
            font-weight: 500;
            background-color: #FFC2DA;
            color: #5A2D82;
        }

    .sidenav.collapsed {
        width: 0;
        padding: 0;
        overflow: hidden;
        transition: all 0.1s ease;
    }

.content.expanded {
    margin-left: 0;
    transition: all 0.1s ease;
}
