.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
}

.empleados-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.empleados-lista-container {
    border: 2px solid #EBC5E5;
    border-radius: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    margin: 0 auto;
}
