@model IEnumerable<Pry_Solu_SalonSPA.Models.Marca>

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Marcas";
}

<link rel="stylesheet" href="~/css/VProveedor/index.css" />

@await Html.PartialAsync("_HeaderMarca")

<div class="proveedor-lista-container">

    @await Html.PartialAsync("_ListaMarca", Model)

    @await Html.PartialAsync("_PaginaMarca")

</div>
