<link href="~/css/VTurnos/_HeaderEmpleadoHorario.css" rel="stylesheet" />

<div class="empleadoHorario-header-container">

    <div class="header-left">

        <h2 class="empleadoHorario-header-titulo">Gestión de Horarios de Empleados</h2>

        <p class="empleadoHorario-header-subtitulo">Asigna y gestiona los turnos de trabajo de tu equipo.</p>

    </div>
</div>
