<link href="~/css/VEmpleados/_HeaderEmpleados.css" rel="stylesheet" />

<div class="empleados-header-container">
    <div class="header-left">
        <h2 class="empleados-header-titulo">Gestión de Horarios de Empleados</h2>
        <p class="empleados-header-subtitulo">Asigna y gestiona los turnos de trabajo de tu equipo.</p>
    </div>
</div>
