.compras-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.compras-lista-container {
    border: 2px solid #EBC5E5;
    border-radius: 25px;
    padding: 0.3rem;
    transform: translate(15px, 0px);
}
