<link rel="stylesheet" href="~/css/VInventario/_HeaderInventario.css"/>

<div class="inventario-header-container">
    <div class="header-left">

        <h2 class="inventario-header-titulo">Gestión de Inventario</h2>

        <p class="inventario-header-subtitulo">Lista general de Inventario en el sistema.</p>
    </div>
</div>
