@model IEnumerable<Pry_Solu_SalonSPA.Models.InventarioViewModel>

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Inventario";
}

<link href="~/css/VInventario/index.css" rel="stylesheet" />

<div class="inventario-container">

    @await Html.PartialAsync("_HeaderInventario")

    <div class="inventario-lista-container">
        @await Html.PartialAsync("_FilterInventario")

        @await Html.PartialAsync("_ListaInventario", Model)

        @await Html.PartialAsync("_PaginaInventario")

    </div>

</div>