@model List<Pry_Solu_SalonSPA.Models.Empleado>

@{
    Layout = "~/Views/Main.cshtml";
    ViewData["Title"] = "Empleados";

}


<link rel="stylesheet" href="~/css/VEmpleados/index.css" />

<div class="empleados-container">

    @await Html.PartialAsync("_HeaderEmpleados")

    <div class="empleados-lista-container">

        @await Html.PartialAsync("_FilterEmpleados")

        @await Html.PartialAsync("_ListaEmpleados", Model)

        @await Html.PartialAsync("_PaginaEmpleados")
    </div>
</div>
